body {
    margin: 0;
    background-image: url("Background.png");
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}



.image-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #1e1e1e;
    padding: 20px;  
    height: 80px;    
    position: fixed;
    bottom: 0;
    width: 100%;
}





.row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
}


.Box {
    background: none;
    border: none;
    width: 500px;
    padding: 0;
    cursor: pointer;
    transition: transform 0.2s, filter 0.2s;
}


.logo {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 40px;
    cursor: pointer;
}



.copyBox{
    background: none;
    border: none;
    width: 500px;
    padding: 0;
    cursor: pointer;
    transition: transform 0.2s, filter 0.2s;
}

.copyBox:hover {
    transform: scale(1.1);
    filter: brightness(120%);
}



.Box:hover {
    transform: scale(1.1);
    filter: brightness(120%);
}

.Box img {
    width: 100%;
    display: block;
}
